body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(148, 138, 138, 0.562);
    font-family: 'Noto Sans Thai', sans-serif;
}

.floor-plan {
    background-color: #fff;
    padding: 2%;
    position: relative;
    width: 60vw;
    max-width: 800px;
    border-radius: 2%;
    margin: auto;
}

.map-wrapper {
    position: relative;
    width: 100%;
}

.map-wrapper img {
    width: 100%;
    height: auto;
    display: block;
}

.floor-plan img {
    width: 100%;
    height: auto;
    display: block;
}

.room-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 10%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 3px solid black;
    cursor: pointer;
    background: rgba(5, 255, 80, 0.719);
    transition: transform 0.2s;
}

.room-btn:hover {
    transform: translate(-50%, -50%) scale(1.1);
    border: 2px solid black;
}

.room-btn-notavailable {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 10%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 3px solid black;
    transition: transform 0.2s;
    background: rgba(255, 0, 21, 0.719);
    cursor: default;
}